@import "../../styles.scss";

.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;

    @include respond(break-s) {
        justify-content: center;
    }

    &__button {
        @include transition;
        border: none;
        background-color: transparent;
        color: rgba($color-black, .2);
        font-size: 17px;
        font-weight: 100;
        cursor: pointer;
        margin: 0 10px;

        @include respond(break-m) {
            font-size: 25px;
        }

        @include respond(hover) {
            &:hover,
            &:active {
                color: $color-primary;
            }
        }

        &--active {
            color: $color-black;
        }
    }

    &__icon {
        font-size: 12px;
        line-height: 15px;
        height: 15px;
        display: block;
    }
}