@import "../../styles.scss";

.results {
    @include page-layout;

    &__container {
        @include flex-row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 35px;

        @include respond(break-s) {
            margin-top: 0;
        }
    }

    &__box {
        width: calc(25% - 10px);

        & * {
            font-size: 20px;
        }

        @include respond(break-l) {
            width: calc(50% - 10px);
        }

        @include respond(break-s) {
            width: 100%;

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }
    }
}