@import "../../styles.scss";

.results {

    &__header {
        text-align: center;
        font-weight: 100;
        margin-bottom: 50px;

        @include respond(break-m) {
            margin-bottom: 20px;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -5px;
    }

    &__box {
        width: calc(25% - 10px);

        & * {
            font-size: 12px;

            @include respond(break-l) {
                font-size: 14px;
            }

            @include respond(break-s) {
                font-size: 16px;
            }
        }

        @include respond(break-l) {
            width: calc(50% - 10px);
        }

        @include respond(break-s) {
            width: 100%;
        }
    }
}