@import "../../styles.scss";

.body {
    max-width: 1140px;
    margin: 0 auto;

    @include respond(break-xl) {
        padding: 50px;
    }

    @include respond(break-l) {
        padding: 20px;
    }

    @include respond(break-s) {
        padding: 0;
    }
}