@import "../../styles.scss";

.cart {
    @include page-layout;

    &__container {
        padding: 0 200px;
        padding: 0;
        font-size: 20px;

        @include respond(break-xl) {
            padding: 0;
        }
    }

    &__clear-button {
        @include transition;
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: rgba($color-black, .2);
        margin: 15px 0;

        &:hover,
        &:active {
            color: $color-primary;
        }

        @include respond(break-m) {
            margin: 15px auto;
        }
    }

    &__clear-icon {
        margin-right: 10px;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding-left: 0;

        @include respond(break-s) {
            background-color: rgba($color-primary-2, .1);
            margin-top: 20px;
        }
    }

    &__item {
        @include transition;
        @include flex-row;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid $color-primary-2;
        cursor: pointer;
        color: rgba($color-black, .9);
        
        &:hover,
        &:active {
            border-bottom: 1px solid $color-secondary-2;
        }

        @include respond(break-xs) {
            flex-direction: column;
        }
    }

    &__box {
        @include flex-row-align;

        @include respond(break-s) {
            font-size: 17px;
            margin: 5px 0;
        }
    }

    &__name {
        font-weight: 100;
        margin-left: 5px;
        margin-right: 15px;
    }

    &__amount {
        margin: 0 5px;
        font-size: 15px;
        width: 50px;
        height: 25px;
        line-height: 25px;
        border: 1px solid $color-grey;
        text-align: center;
        background-color: $color-white;
        color: $color-grey;
    }

    &__button-icon {
        border: none;
        cursor: pointer;
        padding: 0;
        margin-right: 5px;

        &:not(:first-of-type) {
            margin-left: 5px;
        }
    }

    &__icon {
        @include transition;
        font-size: 10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-bottom: -2px;
        border: 1px solid $color-primary-2;
        color: $color-white;
        background-color: $color-primary-2;

        &:hover,
        &:active {
            background-color: $color-secondary-2;
            border: 1px solid $color-secondary-2;
        }
    }

    &__summary {
        text-align: right;
        text-transform: uppercase;
        font-weight: 100;
        background-color: rgba($color-tertiary-3, .5);
        padding: 5px 10px;

        & * {
            margin: 10px 0;
        }

        @include respond(break-s) {
            color: $color-white;
            padding: 15px 0 10px 0;
            text-align: center;
            background-color: rgba($color-primary-2, 1);
        }
    }

    &__total-cost {
        display: block;

        & span::before {
            content: "€";
            display: inline-block;
            margin: 0 5px 0 10px;
        }
    }

    &__discounts {

        &::before {
            content: "Enter discount code";
            padding-top: 10px;
            font-size: 10px;
            display: block;
        }

        & input[type=text] {
            @include transition;
            margin: 5px;
            padding: 10px;
            border: 1px solid $color-grey;
    
            &:focus {
                border: 1px solid $color-primary;
            }

            &:hover,
            &:active {
                border: 1px solid $color-primary-2;
            }
        }
    }
    
    &__discount-text {
        font-size: 10px;
        display: block;
        margin: 0 0 5px 0 !important;
    }

    &__button-text {
        @include transition;
        padding: 10px;
        text-transform: uppercase;
        color: white;
        font-weight: 100;

        &--active {
            border: 1px solid $color-secondary-3;
            background-color: $color-secondary-3;
            cursor: pointer;
            
            @media (pointer: fine) {

                &:hover,
                &:active {
                    border: 1px solid $color-tertiary-3;
                    background-color: $color-tertiary-3;
                }
            }
        }

        &--submit {
            border: 1px solid $color-secondary-3;
            background-color: $color-secondary-3;
            cursor: pointer;
            
            @media (pointer: fine) {

                &:hover,
                &:active {
                    border: 1px solid $color-secondary-2;
                    background-color: $color-secondary-2;
                }
            }
        }

        &--inactive {
            border: 1px solid $color-primary-3;
            background-color: $color-primary-3;
            cursor: auto;
        }
    }
}