.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__link {
        color: lightblue;
        text-decoration: none;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:hover,
        &:active {
            color: black;
        }

        &--active:link,
        &--active:visited {
            color: black;
        }
    }

    &__icon {
        fill: green;
        color: green;
        background-color: green;
        border: 1px solid red;
    }
}

.active {
    background-color: red;
}