.product {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid orangered;
    color: black;
    // padding: 50px 0;

    &__details {
        display: flex;
        flex-direction: column;
        // text-align: center;
    }

    &__name {
        font-weight: 100;
        // font-size: 45px;
    }

    &__artist {
        font-weight: 100;
        // font-size: 30px;
    }

    &__price {
        font-weight: 100;
        // font-size: 30px;
    }

    &__cover {
        // width: calc(100% - 50px);
        // margin: 0 24px;
        // border: 1px solid black;
        width: 100px;
    }
}

.product-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__single {
        width: calc(50% - 10px);
        float: left;
        border: 2px solid pink;
    }
}