.product {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 1px solid orangered;

    &__name {
        font-weight: 800;
    }

    &__price {
        color: green;
    }
}

.product-list {
    background-color: yellow;
    width: 100%;

    &__single {
        width: 40%;
        float: left;
    }
}