@import "../../styles.scss";

.product {
    padding: 40px;
    background-color: rgba($color-primary-3, 1);
    margin: 10px 0;
    color: $color-white;

    @include respond(break-xl) {
        padding: 10px;
    }

    @include respond(break-s) {
        padding: 22px;
    }

    @include respond(break-xs) {
        padding: 10px;
    }

    &__details {
        display: flex;
        flex-direction: row;
        font-weight: 100;
        padding: 10px 0 0 0;
        text-transform: uppercase;
        justify-content: space-between;

        @include respond(break-xl) {
            flex-direction: column;
            padding: 10px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 25px;
        margin-bottom: 15px;
    }

    &__artist {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__price {
        font-size: 25px;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
    }

    &__cover {
        width: 100%;
        height: auto;
    }
}

.product-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -5px;

    @include respond(break-s) {
        flex-direction: column;
    }

    &__single {
        width: calc(50% - 10px);
        float: left;

        @include respond(break-s) {
            width: 100%;
        }
    }
}