@import "../../styles.scss";

.home {
    display: flex;
    flex-direction: row;

    @include respond(break-s) {
        flex-direction: column;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 75%;

        @include respond(break-l) {
            width: 70%;
        }

        @include respond(break-s) {
            width: 100%;
        }
    }
}