@import "../../styles.scss";

.home {
    @include flex-row-m-col;
    padding-top: 60px;

    @include respond(break-l) {
        padding-top: 35px;
    }

    @include respond(break-m) {
        align-items: center;
        padding-top: 0;
    }

    &__container {
        @include flex-col;
        width: 75%;

        @include respond(break-l) {
            width: 70%;
        }

        @include respond(break-m) {
            width: 100%;
        }
    }
}