@import "../../styles.scss";

.contact {
    @include page-layout;

    &__container {
        @include flex-row;
        margin: 50px 0;

        @include respond(break-m) {
            flex-direction: column;
            margin: 50px 0 0;
        }

        @include respond(break-s) {
            margin: 0;
        }
    }

    &__box {
        @include flex-col;
        width: 100%;

        &:first-child {
            margin-right: -200px;
        }
    }

    &__line {
        @include flex-row-s-col;
    }

    &__input {
        @include transition;
        margin: 5px;
        padding: 10px;
        border: 1px solid $color-grey;
        font-family: 'Roboto', sans-serif;

        @include respond(break-s) {
            font-size: 15px;
            padding: 10px 5px;
            margin: 0;
            color: $color-grey;
            border: none;

            &:not(:first-child) {
                border-top: 1px solid rgba($color-grey, .5);
            }
        }
        
        &:hover,
        &:active {
            border: 1px solid $color-primary-2;

            @include respond(break-s) {
                border: none;

                &:not(:first-child) {
                    border-top: 1px solid rgba($color-grey, .5);
                }
            }
        }

        &:focus {
            border: 1px solid $color-primary;

            @include respond(break-s) {
                border: none;

                &:not(:first-child) {
                    border-top: 1px solid rgba($color-grey, .5);
                }
            }
        }

        &::placeholder {
            color: rgba($color-grey, .4);
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
        }

        &--half {
            width: 100%;
        }

        &--textarea {
            resize: none;
        }
    }

    &__button {
        @include transition;
        font-size: 20px;
        padding: 10px;
        margin: 5px;
        border: 1px solid $color-primary;
        background-color: $color-primary;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        font-weight: 100;

        @include respond(break-s) {
            margin: 0px;
        }

        &:hover,
        &:active {
            border: 1px solid $color-primary-2;
            background-color: $color-primary-2;
        }
    }

    &__information {
        text-align: right;

        @include respond(break-m) {
            text-align: center;
            margin-top: 20px;
        }

        @include respond(break-s) {
            margin: 35px 0;
        }
    }

    &__part {
        display: block;
        font-size: 20px;
        margin: 10px 0;
        color: rgba($color-black, .2);
    }

    &__main {
        font-weight: 100;
        margin-left: 15px;
        color: $color-primary;
    }
}