@import "../../styles.scss";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-weight: 100;
        font-size: 55px;
    }

    &__span {
        color: transparent;
        font-weight: 400;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-black;
    }

    &__icon {
        font-size: 75%;
    }
}