@import "../../styles.scss";

.footer {
    text-align: center;
    padding: 50px 0 50px;

    @include respond(break-s) {
        background-color: $color-primary-3;
    }

    &__text {
        color: $color-grey;

        @include respond(break-s) {
            color: $color-white;
        }
    }
}