@import "../../styles.scss";

.basket-navigation-button {
    color: rgba($color-black, .5);

    &__icon {
        margin-right: 10px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-primary;
    }

    &__items {
        margin-right: 5px;

        &::after {
            content: "/";
            display: inline-block;
            margin-left: 5px;
        }
    }
}