@import "../../styles.scss";

.basket-navigation-button {
    @include transition;
    color: rgba($color-black, .5);
    padding-bottom: 5px;
    margin-bottom: -5px;
    border-bottom: 1px solid transparent;
    backface-visibility: hidden;

    @include respond(break-l) {
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @include respond(hover) {
        &:hover,
        &:active {
            border-bottom: 1px solid $color-primary;
        }
    }

    &__icon {
        margin-right: 10px;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $color-primary;

        @include respond(break-l) {
            margin-right: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__items {
        margin-right: 5px;

        &::after {
            content: "/";
            display: inline-block;
            margin-left: 5px;
        }
    }
}