$color-white: #ffffff;
$color-black: #000000;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;
    
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-grey: #607D8B;
$color-grey-2: #9E9E9E;

$color-primary: #673AB7;
$color-primary-2: #9C27B0;
$color-primary-3: #E91E63;
$color-secondary: #F44336;
$color-secondary-2: #FF5722;
$color-secondary-3: #FF9800;
$color-tertiary: #8BC34A;
$color-tertiary-2: #CDDC39;
$color-tertiary-3: #FFEB3B;