//--------------------------------COLOR VARIABLES

$color-white: #ffffff;
$color-black: #000000;

$color-grey: #2f3640;
$color-grey-2: #353b48;

$color-primary: #192a56;
$color-primary-2: #273c75;
$color-primary-3: #40739e;
$color-secondary: #c23616;
$color-secondary-2: #e84118;
$color-secondary-3: #e1b12c;
$color-tertiary: #8c7ae6;
$color-tertiary-2: #9c88ff;
$color-tertiary-3: #44bd32;

//---------------------------------RESOLUTION VARIABLES

$break-xl: 1200px;
$break-l: 991px;
$break-m: 767px;
$break-s: 576px;
$break-xs: 320px;

@mixin respond($breakpoint) {
    @if $breakpoint == break-xs {
        @media only screen and (max-width: $break-xs) { @content };
    }
    @if $breakpoint == break-s {
        @media only screen and (max-width: $break-s) { @content };
    }
    @if $breakpoint == break-m {
        @media only screen and (max-width: $break-m) { @content };
    }
    @if $breakpoint == break-l {
        @media only screen and (max-width: $break-l) { @content };
    }
    @if $breakpoint == break-xl {
        @media only screen and (max-width: $break-xl) { @content };
    }
    @if $breakpoint == hover {
        @media only screen and (min-width: $break-xl) { @content };
    }
}