@import "../../styles.scss";

.rules {
    @include page-layout;

    &__list {
        @include page-padding;
        list-style: none;
        text-align: center;

        @include respond(break-m) {
            text-align: justify;
        }
    }

    &__item {
        padding: 10px 0;
    }
}